.Newsletter {
  background-color: rgba(22, 132, 196, .9);
  border-radius: 0;
  bottom: 0;
  color: #ffffff;
  left: 0;
  max-width: 640px;
  position: fixed;

  &-closeButton {
    background: transparent;
    border: none;
    box-shadow: none;
    color: #ffffff;
    outline: none;
    position: absolute;
    right: 0;
    top: 0;
  }

  &-subscribeButton {
    background-color: #ff8000;
    border-color: #ff8000;
    color: #ffffff;
    font-weight: bold;
  }
}

.slidedown-leave-active {
  transition: all .5s;
}